@use 'helpers' as *;

.achievements-block {
  &__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(10);
    row-gap: rem(10);

    @include mobile {
    }
  }

  &__item {
    padding: rem(16) rem(24);
    background-color: var(--color-grey-15);
    border-radius: rem(12);
    border: rem(1) solid var(--color-grey-10);
    flex-grow: 1;

    @include laptop {
      padding: rem(14) rem(20);
    }

    @include mobile {
      padding: rem(16) rem(16);
    }
  }

  &__wrapper {
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__number {
    @include fluid-text(40, 24);

    color: var(--color-light);
    font-weight: 700;
  }
}
