@use 'helpers' as *;

.block-navigation {
    display: flex;
    justify-content: space-between;
    padding-top: rem(20);
    border-top: rem(1) solid var(--color-grey-10);

    @include laptop {
      padding-top: rem(16);
    }

    &__current {
      &--is-active {
        color: var(--color-light);
      }
    }

    &__controls {
      display: flex;
      column-gap: rem(10);
    }
    &__button {
      position: relative;
      padding: rem(28);
      background-color: transparent;
      border: none;
      border: rem(1) solid var(--color-grey-15);
      border-radius: rem(69);

      &::after {
        @include abs-center();

        position: absolute;
        content: '';
        width: rem(30);
        height: rem(30);
        mask-repeat: no-repeat;
        mask-image: url('../images/icons/arrow-left.svg');
        background-color: var(--color-grey-50);
        z-index: 1;
      }

      &--next {
        transform: rotate(-180deg);
      }

      &:focus-visible {
        outline: rem(2) solid var(--color-another-accent);
        border-color: var(--color-another-accent);
        background-color: var(--color-accent);

        &::after {
          background-color: var(--color-light);
        }
      }

      &:hover,
      &:active {
        outline: rem(2) solid var(--color-another-accent);
        background-color: var(--color-accent);
        border-color: var(--color-another-accent);

        &::after {
          background-color: var(--color-light);
        }
      }

      &--is-active {
        background-color: var(--color-grey-15);

        &::after {
          background-color: var(--color-light);
        }

        &:focus-visible {
          outline: rem(2) solid var(--color-another-accent);
          border-color: var(--color-another-accent);
          background-color: var(--color-accent);
        }

        &:hover,
        &:active {
          outline: rem(2) solid var(--color-another-accent);
          background-color: var(--color-accent);
          border-color: var(--color-another-accent);
        }

      }



      &--is-active {

      }
    }
  }
