@use 'helpers' as *;

.button {
  background-color: var(--color-accent);
  color: var(--color-light);
  padding: rem(18) rem(24);
  border: none;
  border-radius: rem(10);
  white-space: nowrap;

  &:visited {
    color: var(--color-light);
  }
  &:focus-visible,
  &:hover,
  &:active {
    outline: rem(2) solid var(--color-another-accent);
    border: rem(1) solid var(--color-another-accent);
    color: var(--color-light);
  }
}
