@use 'helpers' as *;

.card {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: rem(30);
  }

  &__wrapper-text {
    display: flex;
    flex-direction: column;
    row-gap: rem(6);

    @include laptop {
      row-gap: rem(4);
    }

    @include mobile {
      row-gap: rem(2);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    padding: rem(40);
    max-width: rem(512);
    // min-width: rem(358);

    @include mobile {
      padding: rem(24);
    }
  }
}
