@use 'helpers' as *;

.comment {
  display: flex;
  flex-direction: column;
  row-gap: rem(50);

  @include laptop {
    row-gap: rem(40);
  }

  @include tablet {
    row-gap: rem(30);
  }

  &__stars {
    display: flex;
    justify-content: flex-start;
    column-gap: rem(10);

    @include laptop {
      column-gap: rem(8);
    }
  }

  &__star {
    align-self: center;
    position: relative;
    width: rem(44);
    height: rem(44);
    background-color: var(--color-grey-15);
    border: rem(1) solid var(--color-grey-10);
    border-radius: rem(100);

    &::before {
      @include abs-center();

      position: absolute;
      content: '';
      width: rem(24);
      height: rem(24);
      mask-repeat: no-repeat;
      mask-image: url('../images/icons/star.svg');
      background-color: var(--color-another-accent);
      mask-position: center;
    }

    &:focus-visible {
      &::before {
        background-color: var(--color-accent);
      }
    }

    &:hover,
    &:active {
      &::before {
        background-color: var(--color-accent);
      }
    }

    &:focus-visible {
        outline: rem(2) solid var(--color-dark);
        border-color: var(--color-dark);
        background-color: var(--color-dark);
      }

      &:hover,
      &:active {
        outline: rem(2) solid var(--color-dark);
        border-color: var(--color-dark);
        background-color: var(--color-dark);
      }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: rem(40);
    column-gap: rem(10);

    @include laptop {
      padding: rem(40);
      column-gap: rem(8);
      row-gap: rem(30);
    }

    @include tablet {
      row-gap: rem(24);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(10);
    }

    @include tablet {
      row-gap: rem(6);
    }
  }

  &__person {
    display: flex;
    align-items: center;
    column-gap: rem(12);

    @include laptop {
      column-gap: rem(10);
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    font-style: normal;
  }

  &__name-person {
    color: var(--color-light);
  }
}
