@use 'helpers' as *;

.experience {
  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: rem(80);

    @include laptop {
      row-gap: rem(60);
    }

    @include mobile {
      row-gap: rem(40);
    }
  }

  &__wrapper-text {
    padding-right: rem(300);

    @include laptop {
      padding-right: rem(250);
    }

    @include mobile {
      padding-right: rem(0);
    }
  }

  &__list {
    row-gap: rem(50);

    @include laptop {
      column-gap: rem(20);
      row-gap: rem(50);
    }

    @include mobile {
      row-gap: rem(30);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__inner {
    padding: rem(16) rem(20);
    color: var(--color-light);
    border-left: rem(1) solid var(--color-accent);

    @include laptop {
      padding: rem(14) rem(16);
    }
  }

  &__inner-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: rem(1) solid var(--color-grey-10);
    border-image: linear-gradient(
    150deg,
    var(--color-accent) 0%,
    var(--color-grey-10) 40%
  ) 1;
    border-radius: 0 rem(12) rem(12) rem(12);
    background: linear-gradient(120deg, var(--color-accent) -27%, rgba(112, 59, 247, 0) 17%);
  }

  &__inner-text {
    display: flex;
    flex-direction: column;
    row-gap: rem(20);
    padding: rem(50);

    @include laptop {
      padding: rem(40);
      row-gap: rem(16);
    }

    @include mobile {
      row-gap: rem(14);
      padding: rem(30);
    }
  }
}
