@use 'helpers' as *;

.faq {
  &__container {
    padding-bottom: rem(120);

    @include laptop {
        padding-bottom: rem(120);
      }

    @include mobile {
      padding-bottom: rem(80);
    }
  }
}
