@use 'helpers' as *;

.footer {
  &__wrapper-border {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: rem(1);
      background-color: var(--color-grey-10);
    }
  }
  &__wrapper-content {
    position: relative;

    &::after,
    &::before {
      position: absolute;
      content: '';
      inset: 0;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: -5;
    }

    &::after {
      background-image: image-set(
        url('../images/footer/footer-left-bg-desktop.avif') type('image/avif') 1x,
        url('../images/footer/footer-left-bg-desktop@2x.avif') type('image/avif') 2x,
        url('../images/footer/footer-left-bg-desktop@3x.avif') type('image/avif') 3x,

        url('../images/footer/footer-left-bg-desktop.webp') type('image/webp') 1x,
        url('../images/footer/footer-left-bg-desktop@2x.webp') type('image/webp') 2x,
        url('../images/footer/footer-left-bg-desktop@3x.webp') type('image/webp') 3x,

        url('../images/footer/footer-left-bg-desktop.png') type('image/png') 1x,
        url('../images/footer/footer-left-bg-desktop@2x.png') type('image/png') 2x,
        url('../images/footer/footer-left-bg-desktop@3x.png') type('image/png') 3x
      );
      background-position: left center;

      @include laptop {
        background-image: image-set(
          url('../images/footer/footer-left-bg-laptop.avif') type('image/avif') 1x,
          url('../images/footer/footer-left-bg-laptop@2x.avif') type('image/avif') 2x,
          url('../images/footer/footer-left-bg-laptop@3x.avif') type('image/avif') 3x,

          url('../images/footer/footer-left-bg-laptop.webp') type('image/webp') 1x,
          url('../images/footer/footer-left-bg-laptop@2x.webp') type('image/webp') 2x,
          url('../images/footer/footer-left-bg-laptop@3x.webp') type('image/webp') 3x,

          url('../images/footer/footer-left-bg-laptop.png') type('image/png') 1x,
          url('../images/footer/footer-left-bg-laptop@2x.png') type('image/png') 2x,
          url('../images/footer/footer-left-bg-laptop@3x.png') type('image/png') 3x
        );
      }

      @include mobile {
        background-image: image-set(
          url('../images/footer/footer-top-bg-mobile.avif') type('image/avif') 1x,
          url('../images/footer/footer-top-bg-mobile@2x.avif') type('image/avif') 2x,
          url('../images/footer/footer-top-bg-mobile@3x.avif') type('image/avif') 3x,

          url('../images/footer/footer-top-bg-mobile.webp') type('image/webp') 1x,
          url('../images/footer/footer-top-bg-mobile@2x.webp') type('image/webp') 2x,
          url('../images/footer/footer-top-bg-mobile@3x.webp') type('image/webp') 3x,

          url('../images/footer/footer-top-bg-mobile.png') type('image/png') 1x,
          url('../images/footer/footer-top-bg-mobile@2x.png') type('image/png') 2x,
          url('../images/footer/footer-top-bg-mobile@3x.png') type('image/png') 3x
        );
        background-position: top center;
      }
    }

    &::before {
      background-image: image-set(
        url('../images/footer/footer-right-bg-desktop.avif') type('image/avif') 1x,
        url('../images/footer/footer-right-bg-desktop@2x.avif') type('image/avif') 2x,
        url('../images/footer/footer-right-bg-desktop@3x.avif') type('image/avif') 3x,

        url('../images/footer/footer-right-bg-desktop.webp') type('image/webp') 1x,
        url('../images/footer/footer-right-bg-desktop@2x.webp') type('image/webp') 2x,
        url('../images/footer/footer-right-bg-desktop@3x.webp') type('image/webp') 3x,

        url('../images/footer/footer-right-bg-desktop.png') type('image/png') 1x,
        url('../images/footer/footer-right-bg-desktop@2x.png') type('image/png') 2x,
        url('../images/footer/footer-right-bg-desktop@3x.png') type('image/png') 3x
      );
      background-position: top right;

      @include laptop {
        background-image: image-set(
          url('../images/footer/footer-right-bg-laptop.avif') type('image/avif') 1x,
          url('../images/footer/footer-right-bg-laptop@2x.avif') type('image/avif') 2x,
          url('../images/footer/footer-right-bg-laptop@3x.avif') type('image/avif') 3x,

          url('../images/footer/footer-right-bg-laptop.webp') type('image/webp') 1x,
          url('../images/footer/footer-right-bg-laptop@2x.webp') type('image/webp') 2x,
          url('../images/footer/footer-right-bg-laptop@3x.webp') type('image/webp') 3x,

          url('../images/footer/footer-right-bg-laptop.png') type('image/png') 1x,
          url('../images/footer/footer-right-bg-laptop@2x.png') type('image/png') 2x,
          url('../images/footer/footer-right-bg-laptop@3x.png') type('image/png') 3x
        );
      }

       @include mobile {
        background-image: image-set(
          url('../images/footer/footer-bottom-bg-mobile.avif') type('image/avif') 1x,
          url('../images/footer/footer-bottom-bg-mobile@2x.avif') type('image/avif') 2x,
          url('../images/footer/footer-bottom-bg-mobile@3x.avif') type('image/avif') 3x,

          url('../images/footer/footer-bottom-bg-mobile.webp') type('image/webp') 1x,
          url('../images/footer/footer-bottom-bg-mobile@2x.webp') type('image/webp') 2x,
          url('../images/footer/footer-bottom-bg-mobile@3x.webp') type('image/webp') 3x,

          url('../images/footer/footer-bottom-bg-mobile.png') type('image/png') 1x,
          url('../images/footer/footer-bottom-bg-mobile@2x.png') type('image/png') 2x,
          url('../images/footer/footer-bottom-bg-mobile@3x.png') type('image/png') 3x
        );
        background-position: bottom center;
      }
    }
  }
  &__inner  {
    display: flex;
    justify-content: space-between;
    column-gap: rem(100);
    padding-block: rem(100);

    @include laptop {
      padding-block: rem(60);
    }

    @include mobile {
      flex-direction: column;
      row-gap: rem(30);
      padding-block: rem(50);
    }
  }

  &__inner-body {
    display: flex;
    flex-direction: column;
    row-gap: rem(14);

    @include laptop {
      row-gap: rem(10);
    }

    @include mobile {
      row-gap: rem(6);
    }
  }

  &__button {
    align-self: center;
    flex-shrink: 1;

    @include mobile {
      align-self: auto;
    }
  }

  &__wrapper-body {
    display: grid;
    grid-template-columns: auto 62%;
    padding-block: rem(100);

    @include laptop {
      padding-block: rem(80);
    }

    @include mobile {
      grid-template-columns: 1fr;
      padding-block: rem(50);
      row-gap: rem(50);
    }
  }
}
