@use 'helpers' as *;

.questions {
  &__item {
    display: flex;
    flex-wrap: wrap;
    row-gap: rem(50);

    @include laptop {
      row-gap: rem(40);
    }

    @include tablet {
      row-gap: rem(30);
    }
  }


  &__button {
    color: var(--color-light);

    @include tablet {
      flex-grow: 1;
    }
  }
}
