@use 'helpers' as *;

.questions {
  display: flex;
  flex-direction: column;
  row-gap: rem(50);

  @include laptop {
    row-gap: rem(40);
  }

  @include tablet {
    row-gap: rem(30);
  }

  &__button {
    color: var(--color-light);
  }
}
