@font-face {
  font-family: 'Urbanist';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Urbanist-Medium.woff') format('woff'),
       url('../fonts/Urbanist-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Urbanist';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Urbanist-SemiBold.woff') format('woff'),
       url('../fonts/Urbanist-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Urbanist';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Urbanist-Bold.woff') format('woff'),
       url('../fonts/Urbanist-Bold.woff2') format('woff2');
}

