@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;
  --color-light-transparency: #FFFFFF1A;
  --color-dark: #141414;
  --color-grey: #999999;
  --color-grey-10: # 262626;
  --color-grey-15: #1A1A1A;
  --color-accent: #703BF7;
  --color-another-accent: #FFE500;

  --font-family-base: 'Urbanist', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(160)};
  --transition-duration: 0.2s;
}
