@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;
  --color-light-transparency: #FFFFFF1A;
  --color-dark: #141414;
  --color-grey: #999999;
  --color-grey-10: #262626;
  --color-grey-15: #1A1A1A;
  --color-grey-50: #808080;
  --color-accent: #703BF7;
  --color-gradient-1: #2a213f;
  --color-gradient-2: #19191900;
  --color-another-accent: #FFE500;
  --color-error: #FF6347;


  --font-family-base: 'Urbanist', sans-serif;

  --container-width: #{rem(1600)};
  --container-padding-x: #{rem(160)};

  @include laptop {
    --container-padding-x: #{rem(80)};
  }

  @include mobile {
    --container-padding-x: #{rem(16)};
  }

  --transition-duration: 0.2s;
}
